html {
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
}

ul {
	display: flex;
	list-style: none;
}

li.octocat {
	margin: 15px 10px;
	border-bottom: 1px solid #D3D3D3;
}

li.octocat > a > img {
	height: 430px;
	width: 430px;
	border: 1px solid #D3D3D3;
	border-radius: 3px;
	margin: 5px 5px;
}

span.image-number {
	color: #CACACA;
	font-weight: bold;
	font-family: Helvetica;
}

span.image-number:before {
	content: "#";
}

/*ul.authors {
	display: flex;
}*/

ul.authors > li > a > img {
	height: 27px;
	width: 27px;
}

div.image-caption {
	float: right;
	/*background: red;*/
	display: flex;
	justify-content: space-around;
}
ul.authors {
	padding: 0;
}

div.image-caption span {
	margin-left: 5px;
	margin-right: 5px;
	font-family: Helvetica;
	font-weight: bold;
	color: #BBB;
}

div.image-caption a {
	font-family: Helvetica;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

div.image-footer {
	padding: 10px 10px;
}

li.octocat > a:before {
	content: "";
	display: block;
	height: 0;
	width: 0;
	border: 8px solid transparent;
	border-top-color: #cacaca;
	//position: absolute;
	right: 1000px;
	float: right;
	top: 10px;
}



